<div class="announcement" style="background-color: #f5f5f5; text-align: center; padding: 10px 0;">
<<<<<<< HEAD
   <p style="margin: 0; font-size: 16px;">Envío gratis en pedidos superiores a $50</p>
</div> 
=======
  <p style="margin: 0; font-size: 16px;">Envío gratis en pedidos superiores a $50</p>
</div>
>>>>>>> 61c69cd42d281f178f02727b8771a44302df8f9e

