{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              <!-- Start of custom navigation menu -->
              <li>
                <a href="/collections/hombres" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                  Hombres
                </a>
              </li>
              <li>
                <a href="/collections/mujeres" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                  Mujeres
                </a>
              </li>
              <li>
                <a href="/collections/accesorios" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                  Accesorios
                </a>
              </li>
              <li>
                <a href="/collections/ofertas" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                  Ofertas
                </a>
              </li>
              <!-- End of custom navigation menu -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>

